{% extends 'base.html.twig' %}

{% block body %}
    <div class="BookingsInfo">
        <h1 class="bookings-Content_Title">Bookings</h1>
        <h2 class="bookings-Content_subTitle">For a fast booking</h2>
        <p class="bookingsInfo-content">Located near the breathtaking Glen Canyon National Recreation Area, La Quinta Inn & Suites® by Wyndham Page at Lake Powell hotel provides the perfect home base for your northern Arizona adventures. Our pet-friendly hotel provides easy access to the Glen Canyon Dam, Antelope Canyon, Horseshoe Bend, and the Salt River Project – Navajo Generating Station. Make the most of your stay with free daily breakfast, high-speed WiFi, and our outdoor pool.</p>
        <a href="/bookings/new" class="bookings-Details">Bookings</a>
{% endblock %}