{% extends 'base.html.twig' %}

{% block body %}
    <div class="bookingsDetails">
        <h1 class="bookingsDetails_Title">Bookings done on this page</h1>

        {{ form_start(form, { 'method': 'GET'}) }}
        {{ form_end(form) }}

    </div>

    <a href="/bookings/new1" class="bookingsTag">Bookings detail</a></li>

{% endblock %}