{% extends 'base.html.twig' %}

{% block body %}
    <div class="bookingsDetails">
        <h1 class="bookingsDetails_Title">Bookings done on this page</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>


{% endblock %}