{% extends 'base.html.twig' %}

{% block body %}
    <div class="ContactInfo">
        <h1 class="contact-Content_Title">Contact</h1>
        <h2 class="contact-Content_subTitle">For a contact check the deatils</h2>
        <p class="contactInfo-content"> 70 Kaibab Road, Page, AZ, 86040</p>
{% endblock %}