{% extends 'base.html.twig' %}

{% block body %}
    <div class="FacilitiesInfo">
        <h1 class="facilities-Content_Title">Facilites</h1>
        <h2 class="facilities-Content_subTitle">List of facilities</h2>
        <ul>
        <li class="facilitiesInfo-content">Fitness club</li>
            <li class="facilitiesInfo-content">Hotel Restaurant</li>
            <li class="facilitiesInfo-content">Free internet</li>
            <li class="facilitiesInfo-content">Acupuncture Salon</li>
{% endblock %}