{% extends 'base.html.twig' %}

{% block body %}
<div class="hotelInfo">
    <h1 class="hotel-Content_Title">About</h1>
    <p class="hotelInfo-content"> From world-class hotels to painstakingly restored historic palaces, from scenic resorts to thrilling safaris, </br>Taj ensures a multitude of experiences for the modern traveller. Enjoy the comfort and convenience of our luxury 5-star hotels, located in city centres across the world. Relax and rejuvenate at some of the best luxury resorts. Experience true regality at palace hotels in ancient cities, or explore the wild at our luxury safari lodges.

        Each property of Taj offers impeccable hospitality that is a blend of global sophistication and Indian culture—a tradition followed for over a century.</p>
{% endblock %}