{% extends 'base.html.twig' %}

            {% block body %}
            <div class="RoomsInfo">
                <h1 class="rooms-Content_Title">Rooms</h1>
                <h2 class="rooms-Content_subTitle">For a relaxing and comfortable stay.</h2>
                <p class="RoomsInfo-content"> We offer 3 types of guest rooms each of which reflect a different part of Kyoto and has its own unique design: "Chic" rooms reflect Kyoto's stylish reputation; <b>"Charming" </b>rooms remind you of Kyoto's late evening sunset and <i>"Gorgeous"</i> rooms offer an elegant and relaxing color-scheme.</p>
{% endblock %}